-- ==============================================
-- Script completo DBCARRITO sin INSERTs
-- Incluye todos los Stored Procedures
-- Compatible en cualquier máquina
-- ==============================================

-- Usar master para crear la base de datos
USE [master]
GO

IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = 'DBCARRITO')
BEGIN
    CREATE DATABASE [DBCARRITO];
END
GO

USE [DBCARRITO]
GO

-- =======================
-- TABLAS
-- =======================

CREATE TABLE IF NOT EXISTS CATEGORIA(
    IdCategoria INT IDENTITY(1,1) PRIMARY KEY,
    Descripcion VARCHAR(100) NULL,
    Activo BIT DEFAULT 1,
    FechaRegistro DATETIME DEFAULT GETDATE()
);
GO

CREATE TABLE IF NOT EXISTS MARCA(
    IdMarca INT IDENTITY(1,1) PRIMARY KEY,
    Descripcion VARCHAR(100) NULL,
    Activo BIT DEFAULT 1,
    FechaRegistro DATETIME DEFAULT GETDATE()
);
GO

CREATE TABLE IF NOT EXISTS PRODUCTO(
    IdProducto INT IDENTITY(1,1) PRIMARY KEY,
    Nombre VARCHAR(500) NULL,
    Descripcion VARCHAR(500) NULL,
    IdMarca INT NULL,
    IdCategoria INT NULL,
    Precio DECIMAL(10,2) DEFAULT 0,
    Stock INT NULL,
    RutaImagen VARCHAR(100) NULL,
    NombreImagen VARCHAR(100) NULL,
    Activo BIT DEFAULT 1,
    FechaRegistro DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (IdMarca) REFERENCES MARCA(IdMarca),
    FOREIGN KEY (IdCategoria) REFERENCES CATEGORIA(IdCategoria)
);
GO

CREATE TABLE IF NOT EXISTS USUARIO(
    IdUsuario INT IDENTITY(1,1) PRIMARY KEY,
    Nombre VARCHAR(100) NULL,
    Apellido VARCHAR(100) NULL,
    Correo VARCHAR(100) NULL UNIQUE,
    Clave VARCHAR(150) NULL,
    Reestablecer BIT DEFAULT 1,
    Activo BIT DEFAULT 1,
    FechaRegistro DATETIME DEFAULT GETDATE()
);
GO

CREATE TABLE IF NOT EXISTS CLIENTE(
    IdCliente INT IDENTITY(1,1) PRIMARY KEY,
    Nombre VARCHAR(100) NULL,
    Descripcion VARCHAR(100) NULL,
    Correo VARCHAR(100) NULL,
    Clave VARCHAR(150) NULL,
    Reestablecer BIT DEFAULT 0,
    FechaRegistro DATETIME DEFAULT GETDATE()
);
GO

CREATE TABLE IF NOT EXISTS VENTA(
    IdVenta INT IDENTITY(1,1) PRIMARY KEY,
    IdCliente INT NULL,
    TotalProducto INT NULL,
    MontoTotal DECIMAL(10,2) NULL,
    Contacto VARCHAR(50) NULL,
    IdDistrito VARCHAR(10) NULL,
    Telefono VARCHAR(50) NULL,
    Direcccion VARCHAR(500) NULL,
    IdTransaccion VARCHAR(50) NULL,
    FechaRegistro DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (IdCliente) REFERENCES CLIENTE(IdCliente)
);
GO

CREATE TABLE IF NOT EXISTS DETALLE_VENTA(
    IdDetalleVenta INT IDENTITY(1,1) PRIMARY KEY,
    IdVenta INT NULL,
    IdProducto INT NULL,
    Cantidad INT NULL,
    Total DECIMAL(10,2) NULL,
    FOREIGN KEY (IdVenta) REFERENCES VENTA(IdVenta),
    FOREIGN KEY (IdProducto) REFERENCES PRODUCTO(IdProducto)
);
GO

CREATE TABLE IF NOT EXISTS CARRITO(
    IdCarrito INT IDENTITY(1,1) PRIMARY KEY,
    IdCliente INT NULL,
    IdProducto INT NULL,
    Cantidad INT NULL,
    FOREIGN KEY (IdCliente) REFERENCES CLIENTE(IdCliente),
    FOREIGN KEY (IdProducto) REFERENCES PRODUCTO(IdProducto)
);
GO

-- =======================
-- STORED PROCEDURES
-- =======================

-- SP: Editar Categoria
CREATE OR ALTER PROC sp_EditarCategoria(
    @IdCategoria INT,
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM CATEGORIA WHERE Descripcion = @Descripcion AND IdCategoria != @IdCategoria)
    BEGIN
        UPDATE TOP (1) CATEGORIA
        SET Descripcion = @Descripcion,
            Activo = @Activo
        WHERE IdCategoria = @IdCategoria;

        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'La categoria ya existe';
END
GO

-- SP: Editar Marca
CREATE OR ALTER PROC sp_EditarMarca(
    @IdMarca INT,
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM MARCA WHERE Descripcion = @Descripcion AND IdMarca != @IdMarca)
    BEGIN
        UPDATE TOP(1) MARCA
        SET Descripcion = @Descripcion,
            Activo = @Activo
        WHERE IdMarca = @IdMarca;

        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'La Marca ya existe';
END
GO

-- SP: Editar Producto
CREATE OR ALTER PROC sp_EditarProducto(
    @IdProducto INT,
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(100),
    @IdMarca INT,
    @IdCategoria INT,
    @Precio DECIMAL(10,2),
    @Stock INT,
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM PRODUCTO WHERE Nombre = @Nombre AND IdProducto != @IdProducto)
    BEGIN
        UPDATE PRODUCTO
        SET Nombre = @Nombre,
            Descripcion = @Descripcion,
            IdMarca = @IdMarca,
            IdCategoria = @IdCategoria,
            Precio = @Precio,
            Stock = @Stock,
            Activo = @Activo
        WHERE IdProducto = @IdProducto;

        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'El producto ya existe';
END
GO

-- SP: Editar Usuario
CREATE OR ALTER PROC sp_EditarUsuario(
    @IdUsuario INT,
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Correo VARCHAR(100),
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM USUARIO WHERE Correo = @Correo AND IdUsuario != @IdUsuario)
    BEGIN
        UPDATE TOP(1) USUARIO
        SET Nombre = @Nombres,
            Apellido = @Apellidos,
            Correo = @Correo,
            Activo = @Activo
        WHERE IdUsuario = @IdUsuario;

        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'El correo del usuario ya existe';
END
GO

-- SP: Eliminar Categoria
CREATE OR ALTER PROC sp_EliminarCategoria(
    @IdCategoria INT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM PRODUCTO p WHERE p.IdCategoria = @IdCategoria)
    BEGIN
        DELETE TOP(1) FROM CATEGORIA WHERE IdCategoria = @IdCategoria
        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'La categoria se encuentra relacionada a un producto';
END
GO

-- SP: Eliminar Marca
CREATE OR ALTER PROC sp_EliminarMarca(
    @IdMarca INT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    SET @Mensaje = ''

    IF NOT EXISTS (SELECT * FROM PRODUCTO WHERE IdMarca = @IdMarca)
    BEGIN
        DELETE FROM MARCA WHERE IdMarca = @IdMarca
        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'La Marca se encuentra relacionada a un producto y no puede ser eliminada.';
END
GO

-- SP: Eliminar Producto
CREATE OR ALTER PROC sp_EliminarProducto(
    @IdProducto INT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM DETALLE_VENTA dv WHERE dv.IdProducto = @IdProducto)
    BEGIN
        DELETE TOP(1) FROM PRODUCTO WHERE IdProducto = @IdProducto
        SET @Resultado = 1
    END
    ELSE
        SET @Mensaje = 'El producto se encuentra relacionado a una venta';
END
GO

-- SP: Registrar Categoria
CREATE OR ALTER PROC sp_RegistrarCategoria(
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM CATEGORIA WHERE Descripcion = @Descripcion)
    BEGIN
        INSERT INTO CATEGORIA (Descripcion, Activo) VALUES (@Descripcion, @Activo)
        SET @Resultado = SCOPE_IDENTITY()
    END
    ELSE
        SET @Mensaje = 'La categoria ya existe';
END
GO

-- SP: Registrar Marca
CREATE OR ALTER PROC sp_RegistrarMarca(
    @Descripcion VARCHAR(100),
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM MARCA WHERE Descripcion = @Descripcion)
    BEGIN
        INSERT INTO MARCA (Descripcion, Activo) VALUES (@Descripcion, @Activo)
        SET @Resultado = SCOPE_IDENTITY()
    END
    ELSE
        SET @Mensaje = 'La Marca ya existe';
END
GO

-- SP: Registrar Producto
CREATE OR ALTER PROC sp_RegistrarProducto(
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(100),
    @IdMarca INT,
    @IdCategoria INT,
    @Precio DECIMAL(10,2),
    @Stock INT,
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM PRODUCTO WHERE Nombre = @Nombre)
    BEGIN
        INSERT INTO PRODUCTO (Nombre, Descripcion, IdMarca, IdCategoria, Precio, Stock, Activo)
        VALUES (@Nombre, @Descripcion, @IdMarca, @IdCategoria, @Precio, @Stock, @Activo)

        SET @Resultado = SCOPE_IDENTITY()
    END
    ELSE
        SET @Mensaje = 'El producto ya existe';
END
GO

-- SP: Registrar Usuario
CREATE OR ALTER PROC sp_RegistrarUsuario(
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Correo VARCHAR(100),
    @Clave VARCHAR(100),
    @Activo BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT
)
AS
BEGIN
    SET @Resultado = 0
    IF NOT EXISTS (SELECT * FROM USUARIO WHERE Correo = @Correo)
    BEGIN
        INSERT INTO USUARIO (Nombre, Apellido, Correo, Clave, Activo)
        VALUES (@Nombres, @Apellidos, @Correo, @Clave, @Activo)

        SET @Resultado = SCOPE_IDENTITY()
    END
    ELSE
        SET @Mensaje = 'El correo del usuario ya existe';
END
GO